#photo-viewer {
  position: relative;
  height: 300px;
  overflow: hidden;
}
#photo-viewer.is-loading:after {
  content: url('img/loading.jpg');
  position: absolute;
  top: 0;
  right: 0;
}
#photo-viewer img {
  position: absolute;
  max-width: 100%;
  max-height: 100%;
  top: 50%;
  left: 50;
}

#thumbnails img {
  height: 30px;
  width: 30px;
}

a.active {
  opacity: 0.3;
}
