#photo-viewer {
  min-height: 90vh;
  min-width: 100vw;
}
#photo-viewer .photo-box {
  width: 100%;
  height: 100%;
}

#photo-viewer .photo-box img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.thumbnail-anchor {
  height: 100%;
}
.thumbnail-anchor.active {
  opacity: 0.6;
  border: 2px solid blue;
}
#photo-viewer .thumbnail-anchor img {
  width: 80px;
  object-fit: cover;
}
